		a{
			color:  #b020f0;
			text-decoration: none;

		}

		h3{
			border: 1px solid black;
			border-radius: 10px;
			width: 450px;

			padding: 20px;
			background-color: #c0c0c0;
		}

		.row{
			width: 100%;
			margin-left: 100px;
		}

		.cell{
			width: 50;
			float: left;
			margin-right: 50px;
		}

		.task{

			border: 1px solid black;
			padding: 5px;
			margin-bottom: 10px;
			width: 680px;
		}

		.answer{
			background-color: #000;
			margin-top: 10px;
			font-size: 20px;
		}

		.answer:hover{
			background-color: #fff;
			font-size: 20px;
		}

		.answer2{
			background-color: #fff;
			margin-top: 10px;
			font-size: 20px;
		}


		.item{

			width: 600px;
			border: 1px solid black;
			border-radius: 10px;
			padding: 20px;
			background-color: #c0c0c0;
			font-size: 30px;
			text-align: center;
			margin: 0 auto;
			margin-top: 50px;

		}